// Colors of project

// Brand-colors
$primary-dark: #2615B0;
$primary-normal: #2F1CCC;
$primary-light: #4C3BD8;

$secondary-dark: #2082D9;
$secondary-normal: #4AA6F7;
$secondary-light: #6BBAFF;

// Neutral-colors
$black-normal: #181821;
$black-dark: #0F0F19;
$black-light: #23232D;
$black-lighten: #2E374D;

$black-darken: #090F1D;

$white-dark: #EDEDED;
$white-normal: #F3F3F3;
$white-light: #F7F7FF;

// Gray Scale
$gray-1: #6C6C6C;
$gray-2: #868686;
$gray-3: #9D9D9D;
$gray-4: #BDBDBD;
$gray-5: #D5D5D5;
$gray-6: #E0E0E0;
$gray-7: #EDEDED;


// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0BB07B;
$green-dark: #06A06F;
$green-light: #23C691;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;


.color-white{
    color: $white-normal;
}

.color-black{
    color: $black-light;
}

.color-black-lighten{
    color: $black-lighten;
}

.color-primary{
    color: $primary-normal;
}

.color-secondary{
    color: $secondary-normal;
}

.color-gradient{
    display: inline-block;
    background: linear-gradient(224.78deg, #7cc2ff 8.12%, #5e98cb 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient2{
    display: inline-block;
    background: linear-gradient(224.78deg, #1850E1 8.12%, #0D2C7B 92.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient-creatorpush{
    display: inline-block;
    background: linear-gradient(217.58deg, #8D23F8 0.58%, #180D90 97.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient-axlepush{
    display: inline-block;
    background: linear-gradient(217.58deg, #E741E7 0.58%, #4100C8 97.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.label{
    background: linear-gradient(224.78deg, $primary-normal 8.12%, $secondary-dark 92.21%); 
    display: inline-block;
    padding: 3px 8px;
    border-radius: 2px;

    color: $black-dark;
}

.bg-black-lighten{
    background-color: $black-lighten;
}

.color-gray{
    color: $gray-5;
}

.color-black-blue{
    color: $black-lighten;
}

.color-red{
    color: $red-normal;
}

.color-green{
    color: $green-normal;
}

.color-yellow{
    color: $yellow-normal;
}

.bg-red{
    background-color: $red-normal;
}

.bg-green{
    background-color: $green-normal;
}

.bg-yellow{
    background-color: $yellow-normal;
}

