header{
  width: 100%;
  position: fixed;
  z-index: 998;

  background-color: transparent;
  transition: 1s ease;

}

nav{
  max-width: $container-l;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

.bg-header{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;

  background: 
  linear-gradient(180deg, $black-dark 0%, rgba(3, 9, 23, 0) 100%),
  linear-gradient(180deg, $black-dark 0%, rgba(3, 9, 23, 0) 100%),
  linear-gradient(180deg, $black-dark 0%, rgba(3, 9, 23, 0) 100%);

  opacity: 0;
  transition: 3s ease;
}

.active-header{
  opacity: 1;
}

.logo{
  width: 64px;
  padding: 0px;

  @include responsive(s){
    width: 48px;
  }
}

.nav-menu{
  width: 100%;;

  padding: 24px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive(s) {
    padding: 18px 18px;
  }
}

.bx{
  width: 40px;
  height: 40px;
  margin-right: 10px;

  position: relative;
  cursor: pointer;

  background-color: transparent;

  /*svg{
    stroke-dasharray: 125 155;
    stroke-dashoffset: 152;
    
    transition: 1s ease-in-out;
  }*/
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;

    width: 100%;
    height: 90%;
    border-radius: 4px;
    background: linear-gradient(270deg, rgba(253, 253, 253, 0.9) 0%, rgba(253, 253, 253, 0) 100%);
    opacity: 0.8;
    filter: blur(0px);

    transform: skewX(-0deg) translate3d(0px,0px,0) rotate(-5deg);
    transition: 1s ease;
  }

  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 70%;
    height: 70%;

    border-radius: 4px;
    background: linear-gradient(225deg, #2DC7ED 0%, rgba(83, 139, 240, 0.1) 100%);

    transition: 1s ease;
    opacity: 0.3;
    filter: blur(3px);

    transform: skewX(-0deg) translate3d(-20px,-4px,0) rotate(5deg);
  }
}

.bx.active-bx{
  /*svg{

    stroke-dasharray: 128 124;
    stroke-dashoffset: 0;
  }*/

  &::before{
    opacity: 0.1;
    transform: skewX(-0deg) translate3d(-10px,0,0) rotate(5deg);
    filter: blur(3px);
  } 

  &::after{
    opacity: 1;
    transform: skewX(-0deg) translate3d(-15px,-3px,0) rotate(-5deg);
    filter: blur(0px);
  }
}

.menu{
  width: 100%;
  height: 100vh;

  //background-color: $black-dark;
  background: 
  linear-gradient(90deg, $black-dark 0%, rgba(5, 6, 7, 0) 100%);

  z-index: 990;

  opacity: 0;
  backdrop-filter: blur(10px);
  

  position: fixed;
  top: 0;
  left: 0;
}
.active-menu{
  top: 0;
}

.nav{

  max-width: $container-xl;
  margin: 288px auto;

  padding: 96px 24px;

  // clearfix
  &::after{
    content: '';
    display: table;
    clear: both;
  }

  @include responsive(s) {
    //flex-direction: column;
    margin: 96px auto;

    padding: 24px 24px;
  }
}

.nav-list{

  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  @include responsive(s){
    display: none;
  }
}

.nav-link{

  display: inline-block;

  color: $white-light;
  position: relative;
  transition: .7s ease;

  padding: 8px 16px;

  @include typeface-1(h6, desktop);
  @include responsive(s) {
    @include typeface-1(h6, mobile);
  }

  &::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;

    width: 0%;
    height: 2px;
    transition: 1s ease;
    opacity: 0;

    transform: translate(-50%, -50%);

    background-color: $white-light;
  }

  &:hover{

    &::after{
      width: 90%;
      opacity: 1;
    }
  }

}